// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #0176d6;
$secondary: #07b497;
$accent: #e06b98;

$dark: #bdbdbd;
$dark-page: #121212;

$positive: #00b828;
$negative: #e92222;
$info: #9b9b9b;
$warning: #e68021;
